.rotate{
    animation: rotation 2s infinite linear;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}